<h2 mat-dialog-title>Roles de usuario</h2>

<div mat-dialog-content>
  <div class="state" *ngIf="loading">
    <mat-progress-spinner diameter="24" mode="indeterminate"></mat-progress-spinner>
    <span>Cargando...</span>
  </div>
  <div class="error" *ngIf="!loading && errorMsg">{{ errorMsg }}</div>

  <ng-container *ngIf="!loading">
    <div><b>Usuario:</b> {{ data.username }} ({{ data.nombres }} {{ data.apellidos }})</div>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Roles</mat-label>
      <mat-select [formControl]="form.controls.roles" multiple>
        <mat-option *ngFor="let r of roles" [value]="r.idRol">
          {{ r.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>
</div>

<div mat-dialog-actions align="end">
  <button mat-stroked-button type="button" (click)="cerrar()" [disabled]="saving">Cancelar</button>
  <button mat-flat-button color="primary" type="button" (click)="guardar()" [disabled]="saving || loading">
    <mat-progress-spinner *ngIf="saving" diameter="18" mode="indeterminate"></mat-progress-spinner>
    <span *ngIf="!saving">Guardar</span>
  </button>
</div>
