@use '@angular/material' as mat;

/* ================================
   Angular Material Theme (Gris + Rojo)
   ================================ */

html {
  height: 100%;

  @include mat.theme((
    color: (
      primary: mat.$red-palette,
      tertiary: mat.$gray-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  margin: 0;
  height: 100%;
  color-scheme: light;

  background-color: #f4f5f7;
  color: #2e2e2e;
  font-family: Roboto, Arial, sans-serif;
}
